# Diese .htaccess-Datei leitet alle Anfragen, die keine gültige Datei oder kein gültiges Verzeichnis sind, 
# an index.php weiter und ermöglicht es, saubere URLs wie "example.com/post-titel" zu verwenden.
# Die zweite Regel verbietet den Zugriff auf Dateien, die mit einem Punkt beginnen, um zu verhindern, 
# dass sensible Konfigurationsdateien durch Direktzugriff offengelegt werden.
# Error docs
ErrorDocument 400 /errors/400.html
ErrorDocument 401 /errors/401.html
ErrorDocument 402 /errors/402.html
ErrorDocument 403 /errors/403.html
ErrorDocument 404 /errors/404.html
ErrorDocument 405 /errors/404.html
ErrorDocument 406 /errors/406.html
ErrorDocument 407 /errors/407.html
ErrorDocument 408 /errors/408.html
ErrorDocument 409 /errors/409.html
ErrorDocument 415 /errors/415.html


RewriteEngine On
# Leite Anfragen an index.php weiter, wenn keine Datei oder kein Verzeichnis gefunden wird
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]

# Verbietet den Zugriff auf Dateien, die mit einem Punkt beginnen
<FilesMatch "^\.[a-z]">
  Order allow,deny
  Deny from all
</FilesMatch>

# Deflate Compression bei FileType
<IfModule mod_deflate.c>
 AddOutputFilterByType DEFLATE text/plain
 AddOutputFilterByType DEFLATE text/html
 AddOutputFilterByType DEFLATE text/xml
 AddOutputFilterByType DEFLATE text/css
 AddOutputFilterByType DEFLATE text/javascript
 AddOutputFilterByType DEFLATE application/xml
 AddOutputFilterByType DEFLATE application/xhtml+xml
 AddOutputFilterByType DEFLATE application/rss+xml
 AddOutputFilterByType DEFLATE application/atom_xml
 AddOutputFilterByType DEFLATE application/javascript
 AddOutputFilterByType DEFLATE application/x-javascript
 AddOutputFilterByType DEFLATE application/x-shockwave-flash
</IfModule>

