RewriteEngine On
# Leite Anfragen an index.php weiter, wenn keine Datei oder kein Verzeichnis gefunden wird
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]

# Verbietet den Zugriff auf Dateien, die mit einem Punkt beginnen
<FilesMatch "^\.[a-z]">
  Order allow,deny
  Deny from all
</FilesMatch>
